*,
::before,
::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
/* general styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.btn {
    background-color: #e25412;
    color: #f9f9f9;
    border-color: #e25412;
}
.btn:hover {
    color: #f9f9f9;
    opacity: 0.8;
}
.text-left {
    display: block;
    text-align: left;
    margin-bottom: 0;
}
/* header */
.navbar-dark .navbar-brand {
    color: #f9f9f9;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f9f9f9;
    opacity: 0.8;
}
.navbar-dark .navbar-toggler {
    padding: 0;
    border: 0;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero {
    background: linear-gradient(#e25412, #e49031);
    color: #f9f9f9;
}
.jumbotron {
    background-color: transparent;
}
/* goals */
.sm-serif {
    font-family: inherit;
    font-size: 0.9rem;
}
.md-serif {
    font-family: inherit;
    font-size: 1.1rem;
}
.lg-icons {
    color: #e25412;
    font-size: 2.5rem;
}
/* about */
.about .rounded-circle {
    border: 0.4rem solid #d3d3d3;
    width: 80%;
}
/* Team */
.team .rounded-circle {
    border: 0.4rem solid #f9f9f9;
    width: 95%;
}
/* contact */
.contact {
    background: linear-gradient(#e25412, #e49031);
}
.contact h1,
.contact p {
    color: #f9f9f9;
}
label {
    color: #f9f9f9;
    padding-bottom: 0.2em;
}
.social-icons {
    color: #e25412;
    font-size: 1.3rem;
}
.social-icons:hover {
    opacity: 0.8;
}
@media (max-width: 768px) {
    .jumbotron .display-4 {
        font-size: 2.2rem;
    }
}