*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
::placeholder {
    font-family: inherit;
}
/* General styles */
.btn {
    background-color: #2e6cd1;
    color: #f9f9f9;
    border-color: #2e6dd1;
    font-weight: 700;
}
.btn:focus, .btn:hover {
    color: #f9f9f9;
    opacity: 0.90;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.display-4 {
    font-weight: 700;
}
.social-icons {
    color: #2e6dd1;
    font-size: 25px;
}
.social-icons:focus, .social-icons:hover {
    opacity: 0.85;
}
/* Header */
.hero {
    background: linear-gradient(rgba(46, 108, 209, 0.9), rgba(249, 249, 249, 0.3));
    color: #222222;
}
.jumbotron {
    background-color: transparent;
}
.navbar-dark .navbar-brand {
    color: #f9f9f9;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    opacity: 0.7;
}
.navbar-toggler {
    border: none;
    padding: 0;
    font-size: 30px;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #f9f9f9;
    opacity: 0.7;
}
/* Goals */
.sm-serif {
    font-family: inherit;
    font-size: 0.9rem;
}
.md-serif {
    font-family: inherit;
    font-size: 1rem;
}
.lg-icons {
    color: #2e6dd1;
    font-size: 40px;
}
/* About */
.about .rounded-circle {
    border: 0.4rem solid #d3d3d3;
    width: 80%;
}
/* Team */
.team .rounded-circle {
    border: 0.4rem solid #f9f9f9;
    width: 95%;
}
/* Contact */
.contact {
    background: linear-gradient(rgba(46, 108, 209, 0.9), rgba(249, 249, 249, 0.3));
    color: #222222;
}
@media (max-width: 768px) {
    .jumbotron .display-4 {
        font-size: 40px;
    }
}